*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/libs/
core/libs/
libs/
app/src/main/java/com/markoid/cleanbase/movies/domain/exceptions/
app/src/main/java/com/markoid/cleanbase/movies/presentation/
app/src/main/java/com/markoid/cleanbase/user/presentation/
core/src/androidTest/
core/src/test/
